{# reprepro distributions configuration #}
{# reprepro distributions 설정 #}
Origin: {{ repo_name }}
Label: {{ repo_label }}
Codename: {{ repo_codename }}
Architectures: {{ repo_arch }}
Components: main
Description: {{ repo_label }}
SignWith: {{ gpg_key_id }}
