{# Nginx fancyindex footer template #}
{# Nginx fancyindex 푸터 템플릿 #}
        </div>
        <div class="footer">
            <p>Powered by reprepro + GPG signing</p>
        </div>
    </div>
</body>
</html>
